*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
@media(max-width:375px){
    html{
        width:375px;
        overflow: hidden;
    }
    body{
        width:375px;
        overflow: hidden;
    }
    .nav-menu{
        font-size:30px;
        background:hsl(0 0% 100% / 0.1);
        transform:translateX(500px);
        height:500px;
        width:100%;
        backdrop-filter:blur(1rem);
        transition:.3s ease-in-out;
        position:absolute;
        top:0;
        z-index:9999;
        border-radius:15px;
    }
    .nav-menu nav ul li{
        list-style:none;
        padding:10px;
    }
    .nav-menu nav ul li a{
        text-decoration:none;
        color:white;
    }
    .navToggle{
        border:none;
        background:white;
        padding:30px;
        position:relative;
        left:21em;
    }
    .navToggle img{
        width:20px;
        height:20px;
        background:white;
    }
    .navClose{
        border:none;
        background:white;
        position:relative;
        left:21em;
        bottom:18em;
    }
    .navClose img{
        width:20px;
        height:20px;
    }
    .home-bar{
        z-index:1000;
    }
    .home-bar img {
        width:800px;
        height:500px;
        position:relative;
        right:20em;
    }
    .home-text{
        position:relative;
        bottom:25em;
        padding:1em;
        color:white;
    }
    .home-text h1{
        font-size:2em;
        padding:.5em;
    }
    .home-text p{
        font-size:1.3em;
        padding:2px 1em;
    }
}